<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Ecommerce</title>

        <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="~/css/animate.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/font-awesome.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/elegant-icons.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/nice-select.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/owl.carousel.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/slicknav.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/themify-icons.css" asp-append-version="true" />
    </head>
    <body>
        <header class="header-section">
            <div class="header-top">
                <div class="container">
                    <div>

                    </div>
                </div>
            </div>
        </header>
    </body>

